body{
    background-color:black;
}
h1{
    color: cornsilk;
    text-align: center;
    text-decoration: underline;

}
h2{
    color: crimson;
}
div{
    color: wheat;
    float: left;
    width: 33%;
    height: 700px;
}
img{
    width:50%;
}
.first{
    color: darkorange;
    
}
#second{
    color: yellow;
   
}
